asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Django==3.1.13
Flask==1.1.1
idna==2.8
image==1.5.28
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==9.0.1
pytz==2019.3
qrcode==6.1
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.26.5
Werkzeug==1.0.0
